@model CreateUserRequestViewModel

@{
    ViewData["Title"] = "Create User";
}

<div class="container">
    <h1 class="mb-4 text-center">Create User</h1>

    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p>@TempData["error"]</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    else if (TempData["success"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p>@TempData["success"]</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <form id="create-form" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="form-group mb-3">
            <label asp-for="FullName" class="form-label fw-bold"></label>
            <input asp-for="FullName" class="form-control" placeholder="Enter full name" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Username" class="form-label fw-bold"></label>
            <input asp-for="Username" class="form-control" placeholder="Enter username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Password" class="form-label fw-bold"></label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Enter password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="ConfirmPassword" class="form-label fw-bold"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control"
                placeholder="Enter confirm password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Address" class="form-label fw-bold"></label>
            <input asp-for="Address" class="form-control" placeholder="Enter address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="BirthDate" class="form-label fw-bold"></label>
            <input asp-for="BirthDate" type="date" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Email" class="form-label fw-bold"></label>
            <input asp-for="Email" type="email" class="form-control" placeholder="example@email.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="PhoneNumber" class="form-label fw-bold"></label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="Enter phone number" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <div class="text-start">
                <label asp-for="Role" class="form-label fw-bold"></label>
            </div>
            <select asp-for="Role" class="form-control">
                <option value="">-- Select Role --</option>
                <option value="1">Admin</option>
                <option value="2">Customer</option>
                <option value="3">Shipper</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <div class="form-group mb-5">
            <br>
            <br>
            <div class="text-start">
                <label asp-for="IsBanned" class="form-label fw-bold">Is active?</label>
            </div>
            <select asp-for="IsBanned" class="form-control">
                <option value="0">Yes</option>
                <option value="1">No</option>
            </select>
            <span asp-validation-for="IsBanned" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-end gap-3 py-3 mt-3">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const form = document.getElementById('create-form')
        form.addEventListener("submit", (e) => {
            e.preventDefault();

            if (!$(form).valid()) {
                return;
            }

            Swal.fire({
                title: "Are you sure you want to create the user?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Create"
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        })
    </script>
}
