@model UpdateUserRequestViewModel

<style>
    .backgr {
        background-image: url("/img/background2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<h1 style="text-align:center;padding:10px 40px;background-color:aqua;margin:0;font-family:Arial;font-weight:bolder">Thông tin người dùng</h1>
<div class="row backgr">
    <div class="row" style="text-align:center; margin: 0;">
        <div class="container" style="margin: 60px auto; border: solid 2px gray; border-radius: 15px; padding: 35px 0; text-align:center;background-color:ghostwhite;margin-bottom:200px;">
            <form id="profileForm" asp-action="Profile" method="post">
                <div class="d-flex justify-content-around">
                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" readonly class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                    </div>
                    <div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control"
                                   placeholder="@(string.IsNullOrEmpty(Model.Address) ? "Thêm địa chỉ..." : Model.Address)" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="BirthDate" class="control-label"></label>
                            <input asp-for="BirthDate" type="date" class="form-control" />
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                @if (TempData["error"] != null)
                {
                    <p class="text-danger"
                       style="width:100%;text-align:center;margin: 5px auto;">@TempData["error"]</p>
                }

                <div class="form-group">
                    <input type="submit" value="Lưu thông tin" id="saveButton" style="padding: 10px 15px;margin-top:20px;" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById("profileForm").addEventListener("submit", function (e) {
            e.preventDefault();

            Swal.fire({
                title: "Bạn có muốn lưu thay đổi không?",
                showDenyButton: true,
                confirmButtonText: "Lưu",
                denyButtonText: "Hủy"
            }).then((result) => {
                if (result.isConfirmed) {
                    e.target.submit();
                } 
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
        @if (TempData["success"] != null)
        {
            <text>
                        Swal.fire({
                            icon: 'success',
                            title: 'Thành công!',
                        });
            </text>
        }
        else if (TempData["error"] != null)
        {
            <text>
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops!',
                            text: 'Đã có lỗi xảy ra. Vui lòng kiểm tra thông báo lỗi.'
                        });
            </text>
        }
        });
    </script>
}
